.image-position-center {
  background-position: center;
  padding: 8% 0;
}
.cash-hidden {
  visibility: hidden;
}
.image-position-center {
  background-position: center;
  padding: 8% 0;
}

.flip-card {
  float: left;
  margin: 30px;
  width: 100%;
  max-width: 300px;
  height: 480px;
  perspective: 1000px;
  background-color: transparent;
}

.flip-card-img {
  height: 300px;
  overflow: hidden;
  background-color: gray;
}

.flip-card img {
  width: 100%;
}

.flip-card-text {
  padding: 10px;
}

.center-item {
  margin: 0 auto;
}
.flip-card {
  /* float: left; */
  /* flex: 1 0 20%; */
  margin: 30px;
  width: 100%;
  max-width: 300px;
  height: 480px;
  perspective: 1000px;
  background-color: transparent;
}

.flip-card-img {
  height: 220px;
  overflow: hidden;
  background-color: gray;
  object-fit: fill;
}

.flip-card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.flip-card-text {
  padding: 10px;
  font-size: 1.25vw;
}

.flip-card h2 {
  font-weight: 600;
  font-size: 1.3em;
}

.flip-card p.title {
  color: grey;
  font-size: 1.5em;
}

.flip-card p {
  font-size: 1em;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  border: 5px solid lightgray;
  background-color: white;
}

@media screen and (max-width: 767px) {
  .flip-card {
    width: 100%;
    max-width: 400px;
  }
  .flip-card h2 {
    font-weight: 600;
    font-size: 3.5em;
  }

  .flip-card p.title {
    color: grey;
    font-size: 3em;
  }
}

/*End team page styling*/

/*start style for hero section*/
.image-position-center {
  background-position: center;
  padding: 8% 0;
}
/*end style for hero section*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.program-card {
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  padding: 15px;
  /* margin-bottom: 20px; */
}

.program-card {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.program-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 200px;
}

.program-card-content {
  padding: 15px;
}

.program-card:nth-child(3n) {
  margin-right: 0;
}

.filter-container {
  margin-top: 20px;
}

.program-card h3 {
  margin-top: 0;
}

.program-card p {
  margin-bottom: 10px;
}

.buttons-container button {
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
} */

.donate-button {
  background-color: #54b9aa;
}

.volunteer-button {
  background-color: #8acfc5;
  
}

.buttons-container button:hover {
  opacity: 0.9;
}

.filter-container {
  margin-bottom: 20px;
}

.donationDetails{

  height: 100vh;
  padding-top: -80%;
  text-align: center;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-color: rgb(170, 223, 207);
  border-radius: 20%;
  
  margin-bottom: -2.2%;
  box-shadow:#54b9aa;
  background-color: white
  
  

  
}
.formClass{
  padding-top: 5%;
}

#text1{
  color: black;
}
input[type=button]{
  
  color:black;
  margin-top: 3%;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  border-color: rgb(124, 193, 172);
  background-color: white;
  
  
}
input[type=button]:hover{
  background-color:rgb(124, 193, 172) ;
  color: white;
}
.h3e{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-indent: 20px;
  line-height: 40px;
  font-size: 20px;
}
.image-3 {
  float: left;
  width: 450;
  padding-right: 30px;
}

.volunteer-button:hover {
  background-color: teal;
  font-size: large;
}

.donate-button:hover {
  background-color: teal;
  font-size: large;
}